<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> <!-- This line includes the head.ejs file / tekrarlayan kodu ayr覺 dosyay覺 ald覺k ayr覺ca entegre ettik-->
<body>
    <h1><%= contenttitle %></h1>
</body>
</html>